<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barrier_Four_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,160}</string>
                <key>spriteSourceSize</key>
                <string>{151,160}</string>
                <key>textureRect</key>
                <string>{{0,0},{151,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrier_Four_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,155}</string>
                <key>spriteSourceSize</key>
                <string>{160,155}</string>
                <key>textureRect</key>
                <string>{{0,160},{160,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrier_One_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{160,160},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrier_One_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{0,315},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrier_Two_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,79}</string>
                <key>spriteSourceSize</key>
                <string>{146,79}</string>
                <key>textureRect</key>
                <string>{{80,315},{146,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Barrier_Two_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{0,394},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Barriers.png</string>
            <key>size</key>
            <string>{240,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4829865052bb33770dd9782e9fdeb82:b44029adbcc6169f13407d580f606ad5:13480cfe52ed7e9eb3662925e7646a48$</string>
            <key>textureFileName</key>
            <string>Barriers.png</string>
        </dict>
    </dict>
</plist>
