<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{544,198},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1012,1200},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,152}</string>
                <key>spriteSourceSize</key>
                <string>{284,152}</string>
                <key>textureRect</key>
                <string>{{260,198},{284,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,149}</string>
                <key>spriteSourceSize</key>
                <string>{260,149}</string>
                <key>textureRect</key>
                <string>{{0,198},{260,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{1036,198},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{1518,866},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{0,1200},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{506,1200},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{1537,198},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{0,532},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{501,532},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{1007,532},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{1513,532},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{0,866},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{506,866},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{1012,866},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,142}</string>
                <key>spriteSourceSize</key>
                <string>{115,142}</string>
                <key>textureRect</key>
                <string>{{1807,56},{115,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,162}</string>
                <key>spriteSourceSize</key>
                <string>{118,162}</string>
                <key>textureRect</key>
                <string>{{792,198},{118,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,174}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{910,198},{126,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{664,198},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_10_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,23}</string>
                <key>spriteSourceSize</key>
                <string>{219,23}</string>
                <key>textureRect</key>
                <string>{{203,0},{219,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_15_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,23}</string>
                <key>spriteSourceSize</key>
                <string>{219,23}</string>
                <key>textureRect</key>
                <string>{{422,0},{219,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_1_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,23}</string>
                <key>spriteSourceSize</key>
                <string>{203,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{203,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_20_waves(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,28}</string>
                <key>spriteSourceSize</key>
                <string>{220,28}</string>
                <key>textureRect</key>
                <string>{{1317,0},{220,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_20_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,23}</string>
                <key>spriteSourceSize</key>
                <string>{213,23}</string>
                <key>textureRect</key>
                <string>{{641,0},{213,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_25_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,23}</string>
                <key>spriteSourceSize</key>
                <string>{223,23}</string>
                <key>textureRect</key>
                <string>{{854,0},{223,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_30_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,29}</string>
                <key>spriteSourceSize</key>
                <string>{223,29}</string>
                <key>textureRect</key>
                <string>{{1537,0},{223,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,23}</string>
                <key>spriteSourceSize</key>
                <string>{240,23}</string>
                <key>textureRect</key>
                <string>{{1077,0},{240,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{1760,0},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{1240,56},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,56}</string>
                <key>spriteSourceSize</key>
                <string>{227,56}</string>
                <key>textureRect</key>
                <string>{{1295,56},{227,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,56}</string>
                <key>spriteSourceSize</key>
                <string>{285,56}</string>
                <key>textureRect</key>
                <string>{{1522,56},{285,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,56}</string>
                <key>textureRect</key>
                <string>{{0,56},{169,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,56}</string>
                <key>textureRect</key>
                <string>{{169,56},{169,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,56}</string>
                <key>spriteSourceSize</key>
                <string>{111,56}</string>
                <key>textureRect</key>
                <string>{{338,56},{111,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,56}</string>
                <key>spriteSourceSize</key>
                <string>{111,56}</string>
                <key>textureRect</key>
                <string>{{449,56},{111,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{560,56},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{673,56},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,56}</string>
                <key>textureRect</key>
                <string>{{786,56},{169,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,56}</string>
                <key>spriteSourceSize</key>
                <string>{285,56}</string>
                <key>textureRect</key>
                <string>{{955,56},{285,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MapChoose.png</string>
            <key>size</key>
            <string>{2038,1840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09700ecf747f5e01efd9d90d4bd19b01:52c7f1104350e53ebdcfa877df971c26:b81d2c09e62052e69127d3f805b98404$</string>
            <key>textureFileName</key>
            <string>MapChoose.png</string>
        </dict>
    </dict>
</plist>
