<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{0,0},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{1312,468},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{328,0},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{656,0},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{984,0},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{1312,0},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{0,468},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{328,468},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{656,468},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,468}</string>
                <key>spriteSourceSize</key>
                <string>{328,468}</string>
                <key>textureRect</key>
                <string>{{984,468},{328,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HelpScene_3.png</string>
            <key>size</key>
            <string>{1640,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0bb822487346a520e525ab57a8777e1:afbb7576dcb941a7ef8c431ac104e66c:006e93f16ec418cc7c14ef3acd07f58e$</string>
            <key>textureFileName</key>
            <string>HelpScene_3.png</string>
        </dict>
    </dict>
</plist>
