<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{794,746},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bottom.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{864,49}</string>
                <key>spriteSourceSize</key>
                <string>{864,49}</string>
                <key>textureRect</key>
                <string>{{0,74},{864,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column_help_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,45}</string>
                <key>spriteSourceSize</key>
                <string>{170,45}</string>
                <key>textureRect</key>
                <string>{{414,29},{170,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column_help_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,45}</string>
                <key>spriteSourceSize</key>
                <string>{170,45}</string>
                <key>textureRect</key>
                <string>{{584,29},{170,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column_monster_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,45}</string>
                <key>spriteSourceSize</key>
                <string>{171,45}</string>
                <key>textureRect</key>
                <string>{{754,29},{171,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column_monster_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,45}</string>
                <key>spriteSourceSize</key>
                <string>{170,45}</string>
                <key>textureRect</key>
                <string>{{925,29},{170,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column_tower_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,45}</string>
                <key>spriteSourceSize</key>
                <string>{171,45}</string>
                <key>textureRect</key>
                <string>{{1095,29},{171,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column_tower_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,45}</string>
                <key>spriteSourceSize</key>
                <string>{170,45}</string>
                <key>textureRect</key>
                <string>{{1266,29},{170,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,336}</string>
                <key>spriteSourceSize</key>
                <string>{794,336}</string>
                <key>textureRect</key>
                <string>{{864,74},{794,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_1_caption.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,29}</string>
                <key>spriteSourceSize</key>
                <string>{422,29}</string>
                <key>textureRect</key>
                <string>{{1302,0},{422,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,336}</string>
                <key>spriteSourceSize</key>
                <string>{794,336}</string>
                <key>textureRect</key>
                <string>{{0,410},{794,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_2_caption.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,27}</string>
                <key>spriteSourceSize</key>
                <string>{565,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{565,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,336}</string>
                <key>spriteSourceSize</key>
                <string>{794,336}</string>
                <key>textureRect</key>
                <string>{{794,410},{794,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_3_caption.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{737,27}</string>
                <key>spriteSourceSize</key>
                <string>{737,27}</string>
                <key>textureRect</key>
                <string>{{565,0},{737,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,336}</string>
                <key>spriteSourceSize</key>
                <string>{794,336}</string>
                <key>textureRect</key>
                <string>{{0,746},{794,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_4_caption.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,29}</string>
                <key>spriteSourceSize</key>
                <string>{414,29}</string>
                <key>textureRect</key>
                <string>{{0,29},{414,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HelpScene_1.png</string>
            <key>size</key>
            <string>{1754,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d1b4034a2fa6c7020257e47e207268:dba6c6e150f0f8e1861292be52f1a639:ac41efc7cb7920a30c636f9771e1ea84$</string>
            <key>textureFileName</key>
            <string>HelpScene_1.png</string>
        </dict>
    </dict>
</plist>
