<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,32}</string>
                <key>spriteSourceSize</key>
                <string>{101,32}</string>
                <key>textureRect</key>
                <string>{{286,0},{101,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2 .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,32}</string>
                <key>spriteSourceSize</key>
                <string>{101,32}</string>
                <key>textureRect</key>
                <string>{{387,0},{101,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,32}</string>
                <key>spriteSourceSize</key>
                <string>{69,32}</string>
                <key>textureRect</key>
                <string>{{217,0},{69,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_blood .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,19}</string>
                <key>spriteSourceSize</key>
                <string>{38,19}</string>
                <key>textureRect</key>
                <string>{{141,0},{38,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_caption.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,24}</string>
                <key>spriteSourceSize</key>
                <string>{308,24}</string>
                <key>textureRect</key>
                <string>{{488,0},{308,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,19}</string>
                <key>spriteSourceSize</key>
                <string>{38,19}</string>
                <key>textureRect</key>
                <string>{{179,0},{38,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsters.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,524}</string>
                <key>spriteSourceSize</key>
                <string>{936,524}</string>
                <key>textureRect</key>
                <string>{{0,32},{936,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{19,0},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,20}</string>
                <key>spriteSourceSize</key>
                <string>{9,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{9,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{120,0},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{30,0},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{96,0},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{108,0},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{9,0},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{41,0},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{52,0},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{63,0},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{74,0},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{85,0},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HelpScene_2.png</string>
            <key>size</key>
            <string>{936,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fb65e8136d3be6ef67a801cae7dcc58:a54b44d9822477ab56dba9b180a99cca:3c4c61a95ee4c9eb7d80628b954f1973$</string>
            <key>textureFileName</key>
            <string>HelpScene_2.png</string>
        </dict>
    </dict>
</plist>
