<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP_1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,45}</string>
                <key>spriteSourceSize</key>
                <string>{74,45}</string>
                <key>textureRect</key>
                <string>{{82,287},{74,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{1,327},{79,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_3.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{79,219},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_4.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,108}</string>
                <key>spriteSourceSize</key>
                <string>{77,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_5-6.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{76,108}</string>
                <key>textureRect</key>
                <string>{{80,1},{76,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_7-8.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{1,111},{76,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_9.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{1,219},{76,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_MAX.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,106}</string>
                <key>spriteSourceSize</key>
                <string>{75,106}</string>
                <key>textureRect</key>
                <string>{{79,111},{75,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{82,334},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Carrot.png</string>
            <key>size</key>
            <string>{157,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b06c2c2d0c51869df2ac81779a174992:00327d528de74f0bf688ef3e575ff3c2:899dcad8a7312e80eb0488f8eb762d55$</string>
            <key>textureFileName</key>
            <string>Carrot.png</string>
        </dict>
    </dict>
</plist>
