<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,90}</string>
                <key>spriteSourceSize</key>
                <string>{174,90}</string>
                <key>textureRect</key>
                <string>{{600,0},{174,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_adventure_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,94}</string>
                <key>spriteSourceSize</key>
                <string>{296,94}</string>
                <key>textureRect</key>
                <string>{{0,90},{296,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_adventure_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,94}</string>
                <key>spriteSourceSize</key>
                <string>{296,94}</string>
                <key>textureRect</key>
                <string>{{296,90},{296,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_boss_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,94}</string>
                <key>spriteSourceSize</key>
                <string>{294,94}</string>
                <key>textureRect</key>
                <string>{{592,90},{294,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_boss_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,94}</string>
                <key>spriteSourceSize</key>
                <string>{294,94}</string>
                <key>textureRect</key>
                <string>{{0,184},{294,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{414,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{114,0},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nest_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,94}</string>
                <key>spriteSourceSize</key>
                <string>{284,94}</string>
                <key>textureRect</key>
                <string>{{294,184},{284,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nest_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,94}</string>
                <key>spriteSourceSize</key>
                <string>{284,94}</string>
                <key>textureRect</key>
                <string>{{578,184},{284,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{214,0},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{314,0},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,194}</string>
                <key>spriteSourceSize</key>
                <string>{220,194}</string>
                <key>textureRect</key>
                <string>{{0,420},{220,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{114,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,120}</string>
                <key>spriteSourceSize</key>
                <string>{266,120}</string>
                <key>textureRect</key>
                <string>{{240,278},{266,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameTM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,298}</string>
                <key>spriteSourceSize</key>
                <string>{534,298}</string>
                <key>textureRect</key>
                <string>{{220,420},{534,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{124,114}</string>
                <key>textureRect</key>
                <string>{{116,278},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,142}</string>
                <key>textureRect</key>
                <string>{{506,278},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{0,278},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{514,0},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,718},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rgup_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,142}</string>
                <key>textureRect</key>
                <string>{{646,278},{200,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StartScene.png</string>
            <key>size</key>
            <string>{960,1358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903c24a06a987e53d7307316793b4e6d:92984dea6d3b6b2cffeae4cecd562d0c:f1677aef8dffd803fc3bd36e9c5bb7ca$</string>
            <key>textureFileName</key>
            <string>StartScene.png</string>
        </dict>
    </dict>
</plist>
