<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster01_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{168,100},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,55}</string>
                <key>spriteSourceSize</key>
                <string>{49,55}</string>
                <key>textureRect</key>
                <string>{{0,100},{49,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster02_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{0,172},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{167,0},{53,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster03_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,53}</string>
                <key>spriteSourceSize</key>
                <string>{93,53}</string>
                <key>textureRect</key>
                <string>{{96,47},{93,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,52}</string>
                <key>textureRect</key>
                <string>{{0,47},{96,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster04_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,88}</string>
                <key>spriteSourceSize</key>
                <string>{66,88}</string>
                <key>textureRect</key>
                <string>{{149,334},{66,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster04_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{73,172},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster05_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,70}</string>
                <key>spriteSourceSize</key>
                <string>{54,70}</string>
                <key>textureRect</key>
                <string>{{114,100},{54,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster05_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{49,100},{65,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster06_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{189,47},{55,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster06_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{100,0},{67,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss01_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,112}</string>
                <key>spriteSourceSize</key>
                <string>{103,112}</string>
                <key>textureRect</key>
                <string>{{0,636},{103,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{101,422},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss02_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{98,526},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{92,80}</string>
                <key>textureRect</key>
                <string>{{148,172},{92,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss03_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,83}</string>
                <key>spriteSourceSize</key>
                <string>{149,83}</string>
                <key>textureRect</key>
                <string>{{0,334},{149,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,82}</string>
                <key>spriteSourceSize</key>
                <string>{155,82}</string>
                <key>textureRect</key>
                <string>{{0,252},{155,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss04_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,121}</string>
                <key>spriteSourceSize</key>
                <string>{103,121}</string>
                <key>textureRect</key>
                <string>{{103,636},{103,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss04_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,127}</string>
                <key>spriteSourceSize</key>
                <string>{97,127}</string>
                <key>textureRect</key>
                <string>{{0,883},{97,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss05_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,123}</string>
                <key>spriteSourceSize</key>
                <string>{89,123}</string>
                <key>textureRect</key>
                <string>{{0,757},{89,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss05_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,126}</string>
                <key>textureRect</key>
                <string>{{89,757},{88,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss06_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{0,422},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss06_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{0,526},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss07_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,149}</string>
                <key>spriteSourceSize</key>
                <string>{181,149}</string>
                <key>textureRect</key>
                <string>{{0,1019},{181,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_boss07_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{146,136}</string>
                <key>textureRect</key>
                <string>{{97,883},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,12}</string>
                <key>spriteSourceSize</key>
                <string>{52,12}</string>
                <key>textureRect</key>
                <string>{{48,0},{52,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,8}</string>
                <key>spriteSourceSize</key>
                <string>{48,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monsters.png</string>
            <key>size</key>
            <string>{244,1168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4211ddcbfc4563b1fbbff35646841b76:9657868ac85cadac802c32368e27411b:8dc5df745210d588f59bd7f4bfa0c6a4$</string>
            <key>textureFileName</key>
            <string>Monsters.png</string>
        </dict>
    </dict>
</plist>
