<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGM_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,66}</string>
                <key>spriteSourceSize</key>
                <string>{140,66}</string>
                <key>textureRect</key>
                <string>{{748,737},{140,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BGM_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,66}</string>
                <key>spriteSourceSize</key>
                <string>{138,66}</string>
                <key>textureRect</key>
                <string>{{214,779},{138,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optionBG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_1_back_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{129,90}</string>
                <key>textureRect</key>
                <string>{{354,778},{129,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_1_back_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{129,90}</string>
                <key>textureRect</key>
                <string>{{485,776},{129,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{103,834},{40,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{1,787},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>producer_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{890,737},{60,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>producer_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{748,643},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset_no_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{131,134}</string>
                <key>spriteSourceSize</key>
                <string>{139,138}</string>
                <key>textureRect</key>
                <string>{{214,643},{131,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset_no_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{131,133}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{347,643},{131,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,70}</string>
                <key>spriteSourceSize</key>
                <string>{211,70}</string>
                <key>textureRect</key>
                <string>{{1,643},{211,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,70}</string>
                <key>spriteSourceSize</key>
                <string>{211,70}</string>
                <key>textureRect</key>
                <string>{{1,715},{211,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset_yes_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,135}</string>
                <key>textureRect</key>
                <string>{{480,643},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset_yes_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{615,643},{131,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_effect_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,66}</string>
                <key>spriteSourceSize</key>
                <string>{140,66}</string>
                <key>textureRect</key>
                <string>{{669,805},{140,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_effect_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,66}</string>
                <key>spriteSourceSize</key>
                <string>{138,66}</string>
                <key>textureRect</key>
                <string>{{811,805},{138,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statistics_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{86,27}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{616,775},{86,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statistics_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{748,690},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_BGM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{100,25}</string>
                <key>spriteSourceSize</key>
                <string>{102,25}</string>
                <key>textureRect</key>
                <string>{{1,834},{100,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_sound_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,26}</string>
                <key>spriteSourceSize</key>
                <string>{51,26}</string>
                <key>textureRect</key>
                <string>{{616,804},{51,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>OptionScene_1.png</string>
            <key>size</key>
            <string>{962,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ebe91cbf14d165af1081c3976d5b01d:06953f0c55cf1af45e2a4d1cb05b8993:180ac479c15d1cce2f223d01111a0ca6$</string>
            <key>textureFileName</key>
            <string>OptionScene_1.png</string>
        </dict>
    </dict>
</plist>
