<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventure_mode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,27}</string>
                <key>spriteSourceSize</key>
                <string>{101,27}</string>
                <key>textureRect</key>
                <string>{{1,643},{101,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>all_bosses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,27}</string>
                <key>spriteSourceSize</key>
                <string>{171,27}</string>
                <key>textureRect</key>
                <string>{{408,690},{171,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>all_items.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,27}</string>
                <key>spriteSourceSize</key>
                <string>{152,27}</string>
                <key>textureRect</key>
                <string>{{412,719},{152,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>all_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,27}</string>
                <key>spriteSourceSize</key>
                <string>{77,27}</string>
                <key>textureRect</key>
                <string>{{350,643},{77,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>all_monsters.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,27}</string>
                <key>spriteSourceSize</key>
                <string>{152,27}</string>
                <key>textureRect</key>
                <string>{{566,719},{152,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_mode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,27}</string>
                <key>spriteSourceSize</key>
                <string>{120,27}</string>
                <key>textureRect</key>
                <string>{{581,690},{120,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hide_levels.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,27}</string>
                <key>spriteSourceSize</key>
                <string>{101,27}</string>
                <key>textureRect</key>
                <string>{{30,643},{101,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>optionBG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_1_back_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{129,90}</string>
                <key>textureRect</key>
                <string>{{59,643},{129,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_1_back_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{129,90}</string>
                <key>textureRect</key>
                <string>{{190,643},{129,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{379,643},{76,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{703,690},{40,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{408,643},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>producer_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{350,722},{60,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>producer_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{610,643},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statistics_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{86,27}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{321,643},{86,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statistics_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{745,690},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>OptionScene_2.png</string>
            <key>size</key>
            <string>{962,747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adefce249f70ed3d0e243e22ab93adcb:2cef2155d38be81b1a86fbcd06177954:51e8c257b13fef9565ea9aa3d0db5bed$</string>
            <key>textureFileName</key>
            <string>OptionScene_2.png</string>
        </dict>
    </dict>
</plist>
