<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,76}</string>
                <key>spriteSourceSize</key>
                <string>{240,76}</string>
                <key>textureRect</key>
                <string>{{0,114},{240,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>again_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,77}</string>
                <key>spriteSourceSize</key>
                <string>{240,77}</string>
                <key>textureRect</key>
                <string>{{240,114},{240,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,299}</string>
                <key>spriteSourceSize</key>
                <string>{454,299}</string>
                <key>textureRect</key>
                <string>{{0,461},{454,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,345}</string>
                <key>spriteSourceSize</key>
                <string>{446,345}</string>
                <key>textureRect</key>
                <string>{{0,1060},{446,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,78}</string>
                <key>spriteSourceSize</key>
                <string>{240,78}</string>
                <key>textureRect</key>
                <string>{{240,191},{240,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,77}</string>
                <key>spriteSourceSize</key>
                <string>{240,77}</string>
                <key>textureRect</key>
                <string>{{0,191},{240,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,173}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{0,269},{173,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_time_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,114}</string>
                <key>spriteSourceSize</key>
                <string>{71,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_time_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{92,114}</string>
                <key>textureRect</key>
                <string>{{71,0},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_time_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,114}</string>
                <key>spriteSourceSize</key>
                <string>{95,114}</string>
                <key>textureRect</key>
                <string>{{163,0},{95,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{173,269},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,300}</string>
                <key>spriteSourceSize</key>
                <string>{456,300}</string>
                <key>textureRect</key>
                <string>{{0,760},{456,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameMenu.png</string>
            <key>size</key>
            <string>{480,1405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8649f5a7f93d7fcbaf9889ff0fc88b8c:0be0184ef36fc2ade67b9318fdb6ca7d:ce18f9cfef1be654cc1f1a55bc8be556$</string>
            <key>textureFileName</key>
            <string>GameMenu.png</string>
        </dict>
    </dict>
</plist>
