<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lose_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{448,297}</string>
                <key>spriteSourceSize</key>
                <string>{454,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{444,337}</string>
                <key>spriteSourceSize</key>
                <string>{446,345}</string>
                <key>textureRect</key>
                <string>{{1,300},{444,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{440,258}</string>
                <key>spriteSourceSize</key>
                <string>{456,300}</string>
                <key>textureRect</key>
                <string>{{1,639},{440,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameMenu.png</string>
            <key>size</key>
            <string>{450,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23eff4525b47274835e80872cb9f1438:a9b1a2b9114772cd62cd95fcdca254ce:ce18f9cfef1be654cc1f1a55bc8be556$</string>
            <key>textureFileName</key>
            <string>GameMenu.png</string>
        </dict>
    </dict>
</plist>
