<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_02_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,231},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_range02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{694,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cant_build02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{291,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game)waves02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{95,1},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_speed_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{189,1},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_speed_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,58}</string>
                <key>spriteSourceSize</key>
                <string>{96,58}</string>
                <key>textureRect</key>
                <string>{{351,1},{96,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grid_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{449,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paused_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{92,33}</string>
                <key>spriteSourceSize</key>
                <string>{96,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_lightning_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,33}</string>
                <key>spriteSize</key>
                <string>{169,107}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{523,1},{169,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_02_2.png</string>
            <key>size</key>
            <string>{962,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34458ddc240ef9f1527910364290801:d4e212ba612e409b7145275da484cc30:15eb490204961e04c2907f1ccd65db18$</string>
            <key>textureFileName</key>
            <string>1_02_2.png</string>
        </dict>
    </dict>
</plist>
