<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{544,210},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,1040},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,152}</string>
                <key>spriteSourceSize</key>
                <string>{284,152}</string>
                <key>textureRect</key>
                <string>{{260,210},{284,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,149}</string>
                <key>spriteSourceSize</key>
                <string>{260,149}</string>
                <key>textureRect</key>
                <string>{{0,210},{260,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{481,52},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{519,52},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_normal .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{557,52},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{860,52},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_left_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{736,112},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_left_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{448,112},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_right_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{544,112},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_right_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{640,112},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,71}</string>
                <key>spriteSourceSize</key>
                <string>{224,71}</string>
                <key>textureRect</key>
                <string>{{0,112},{224,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,71}</string>
                <key>spriteSourceSize</key>
                <string>{224,71}</string>
                <key>textureRect</key>
                <string>{{224,112},{224,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{126,372},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{0,706},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{501,706},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,162}</string>
                <key>spriteSourceSize</key>
                <string>{118,162}</string>
                <key>textureRect</key>
                <string>{{792,210},{118,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,174}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{0,372},{126,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{664,210},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_10_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,23}</string>
                <key>spriteSourceSize</key>
                <string>{219,23}</string>
                <key>textureRect</key>
                <string>{{203,0},{219,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_15_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,23}</string>
                <key>spriteSourceSize</key>
                <string>{219,23}</string>
                <key>textureRect</key>
                <string>{{422,0},{219,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_1_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,23}</string>
                <key>spriteSourceSize</key>
                <string>{203,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{203,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_20_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,29}</string>
                <key>spriteSourceSize</key>
                <string>{483,29}</string>
                <key>textureRect</key>
                <string>{{240,23},{483,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_25_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,23}</string>
                <key>spriteSourceSize</key>
                <string>{223,23}</string>
                <key>textureRect</key>
                <string>{{641,0},{223,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_30_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,29}</string>
                <key>spriteSourceSize</key>
                <string>{481,29}</string>
                <key>textureRect</key>
                <string>{{0,52},{481,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,23}</string>
                <key>spriteSourceSize</key>
                <string>{240,23}</string>
                <key>textureRect</key>
                <string>{{0,23},{240,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towe_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{755,52},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towe_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{703,52},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towe_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{807,52},{53,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towe_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{599,52},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towe_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{651,52},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MapChoose.png</string>
            <key>size</key>
            <string>{1002,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51106fef928ec198d11efa60e2fc700b:3c2b02d1b9448fdaf540b141496236bc:b81d2c09e62052e69127d3f805b98404$</string>
            <key>textureFileName</key>
            <string>MapChoose.png</string>
        </dict>
    </dict>
</plist>
