<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1376,116},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1012,1292},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,152}</string>
                <key>spriteSourceSize</key>
                <string>{284,152}</string>
                <key>textureRect</key>
                <string>{{1092,116},{284,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,149}</string>
                <key>spriteSourceSize</key>
                <string>{260,149}</string>
                <key>textureRect</key>
                <string>{{832,116},{260,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{1760,0},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{1798,0},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1836,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{1807,56},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_left_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{736,116},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_left_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{448,116},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_right_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{544,116},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_right_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{640,116},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,71}</string>
                <key>spriteSourceSize</key>
                <string>{224,71}</string>
                <key>textureRect</key>
                <string>{{0,116},{224,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,71}</string>
                <key>spriteSourceSize</key>
                <string>{224,71}</string>
                <key>textureRect</key>
                <string>{{224,116},{224,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{0,290},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{1012,958},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{0,1292},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{506,1292},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{501,290},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,334}</string>
                <key>spriteSourceSize</key>
                <string>{501,334}</string>
                <key>textureRect</key>
                <string>{{1002,290},{501,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{1503,290},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{0,624},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{506,624},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{1012,624},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{0,958},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,334}</string>
                <key>spriteSourceSize</key>
                <string>{506,334}</string>
                <key>textureRect</key>
                <string>{{506,958},{506,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,162}</string>
                <key>spriteSourceSize</key>
                <string>{118,162}</string>
                <key>textureRect</key>
                <string>{{1624,116},{118,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,174}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{1742,116},{126,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{1496,116},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_10_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,23}</string>
                <key>spriteSourceSize</key>
                <string>{219,23}</string>
                <key>textureRect</key>
                <string>{{203,0},{219,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_15_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,23}</string>
                <key>spriteSourceSize</key>
                <string>{219,23}</string>
                <key>textureRect</key>
                <string>{{422,0},{219,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_1_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,23}</string>
                <key>spriteSourceSize</key>
                <string>{203,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{203,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_20_waves(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,28}</string>
                <key>spriteSourceSize</key>
                <string>{220,28}</string>
                <key>textureRect</key>
                <string>{{1317,0},{220,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_20_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,23}</string>
                <key>spriteSourceSize</key>
                <string>{213,23}</string>
                <key>textureRect</key>
                <string>{{641,0},{213,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_25_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,23}</string>
                <key>spriteSourceSize</key>
                <string>{223,23}</string>
                <key>textureRect</key>
                <string>{{854,0},{223,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_30_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,29}</string>
                <key>spriteSourceSize</key>
                <string>{223,29}</string>
                <key>textureRect</key>
                <string>{{1537,0},{223,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_waves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,23}</string>
                <key>spriteSourceSize</key>
                <string>{240,23}</string>
                <key>textureRect</key>
                <string>{{1077,0},{240,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{1878,0},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{1240,56},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,56}</string>
                <key>spriteSourceSize</key>
                <string>{227,56}</string>
                <key>textureRect</key>
                <string>{{1295,56},{227,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,56}</string>
                <key>spriteSourceSize</key>
                <string>{285,56}</string>
                <key>textureRect</key>
                <string>{{1522,56},{285,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,56}</string>
                <key>textureRect</key>
                <string>{{0,56},{169,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,56}</string>
                <key>textureRect</key>
                <string>{{169,56},{169,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,56}</string>
                <key>spriteSourceSize</key>
                <string>{111,56}</string>
                <key>textureRect</key>
                <string>{{338,56},{111,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,56}</string>
                <key>spriteSourceSize</key>
                <string>{111,56}</string>
                <key>textureRect</key>
                <string>{{449,56},{111,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{560,56},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{673,56},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,56}</string>
                <key>textureRect</key>
                <string>{{786,56},{169,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towers_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,56}</string>
                <key>spriteSourceSize</key>
                <string>{285,56}</string>
                <key>textureRect</key>
                <string>{{955,56},{285,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MapChoose.png</string>
            <key>size</key>
            <string>{2009,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49386c62573c85388169317a46ed5ecb:e652b0312af321e82d895cf0a3a2413a:b81d2c09e62052e69127d3f805b98404$</string>
            <key>textureFileName</key>
            <string>MapChoose.png</string>
        </dict>
    </dict>
</plist>
